name: forex-event-scraper

on:
  schedule:
    - cron: '0 * * * *' 
  workflow_dispatch:
  
jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install selenium
          pip install requests
          pip install typing_extensions
          
      - name: Setup chrome
        uses: browser-actions/setup-chrome@latest

      - name: Run script
        run: |
          python src/main.py
        env:
          TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
          TELEGRAM_CHANNEL_ID: ${{ secrets.TELEGRAM_CHANNEL_ID }}
          URL:  ${{ secrets.URL }}
          
      - name: Retrieve table content
        run: |
          cat table_for_all_readme.txt > news.all.md
          cat table_for_high_readme.txt > news.high.md
          cat table_for_moderate_readme.txt > news.moderate.md
          cat table_for_low_readme.txt > news.low.md
          
      - name: Commit and push changes
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config --global user.email "forex-news-bot@users.noreply.github.com
          git config --global user.name "forex-news-bot"
          branch=${branch#refs/heads/}
          git checkout $branch
          git pull origin $branch
          git add *.md
          git diff --quiet && git diff --staged --quiet || (git commit -m "docs: update all news files" && git push origin $branch)

